.col-lg-7 {
    margin-left: 250px;
}
.fullname{
    margin-left:400px;

}
select {
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding-top: 0px;
}

.row .newclass {
    outline: none;
}
.fortop{
    margin-top:50px;
}
h4 {
    margin-top: 30px;
    font-size: 18px;
    margin-left: 350px;
    float: left;
}

    h4 a {
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
    }
