
@{
    ViewBag.Title = "Chitrakar";
}

<link href="~/Design/LekhakPage/WriterStyle.css" rel="stylesheet" />
<div id="UpdatePanel1">

    <div class="slogan">
        <h2 style="color:#425262; ">चित्रकारांसाठी</h2>
        <br />
    </div>

    <div id="primary" class="sidebar-right">
        <div class="container group">
            <div class=" row">
                <div id="content-home" class="span9 content group">
                    <div class="page type-page status-publish hentry group">
                        <h3 style="color:#000000">
                            महाराष्ट्र  राज्य माध्यमिक व उच्च माध्यमिक शिक्षण मंडळाच्या 'शिक्षण संक्रमण' वेबसाईट वर आपले स्वागत....!


                        </h3>
                        <p style="font-size:15px">
                            महाराष्ट्र  राज्य माध्यमिक व उच्च माध्यमिक शिक्षण मंडळामार्फत दरमहा 'शिक्षण संक्रमण'शैक्षणिक मासिक प्रकाशित
                            केले जाते , हे आपणास विदित आहे. शिक्षणासाठी बदलत्या  विचारप्रवाहांचे आद्ययावत ज्ञान देणारे 'शिक्षण संक्रमन' हे
                            राज्यमंडळाचा आरसा आहे.
                        </p>
                        
                        <p style="font-size:15px ">
                            'शिक्षण संक्रमण' मधून अभ्यासू शिक्षक, लेखक यांचे उत्तम , वैचारिक साहित्य प्रसिध्द केले जाते. या अंकासाठी  विद्यार्थी ,पालक व  शिक्षकांना
                            मुखप्रुषठासाठी चित्रे पाठविण्याचे आवाहन करण्यात येत आहे. चित्रे त्या त्या महिन्याच्या वैशिष्ट्यांवर आधारित असावित . उदा. दिनविशेष , नैसर्गिक
                            बदल , ऋतू, कालमान, शाळा-विद्यार्थी यांच्याशी संबधीत , शालेय  विषयाशी  निगडीत किंवा उपक्रमांवर आधारित असावित . चित्रे वॉटरकलर ,
                            अ‍ॅक्रालिक कलर , ऑईल कलर इत्यादी प्रकारातील असावित . चित्रे पाठविताना ते दोन  महिने आधी पाठवावित. शिक्षक , चित्रकार एकापेक्षा जास्त
                            चित्रे पाठवू शकतात . संपादक मंडळाकडून निवड प्रक्रियेतून चित्रे निवडले  जाईल.
                            निवडलेले चित्रे 'शिक्षण संक्रमन' च्या अंकाच्या  मुखपृष्ठासाठीही  वापरले जाईल. चित्रकाराचे व त्यांच्या
                            शाळेचे नाव प्रसिध्द केले जाईल.
                        </p>
                       
                       

                       
                    </div>
                    <div id="comments"></div>
                </div>
                <!----End content-->
                <!----Start sideBar-->
                <div id="sidebar-homeiv" class="span3 sidebar group"@*style="margin-left:800px"*@>
                    <div class="widget-1 widget-first widget widget-icon-text group">
                        <img class="imgicon" src="~/Design/LekhakPage/smily.png" />
                        <h3 style="font-size:15px; font-weight:800; color:#020c45">
                            चित्रकारांनी चित्रे पाठवण्यासाठी येथे <br />
                            <a>@Html.ActionLink("क्लिक  करावे.", "ChitrakarInside", "Home", new { controller = "Home" }) </a>

                        </h3>
                    </div>
                </div>
                <!---End sidebar-->
                <!----start extra content-->
                <div class="extra-content margin-top group span12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </div>






</div>
