
@{
    ViewBag.Title = "Kshanchitre";
}


<link href="~/Design/Kshanchitre/kshanchitre.css" rel=" stylesheet" />
<div id="UpdatePanel1">
    <div class="slogan">
        <h2>क्षणचित्रे</h2>
        <br />
    </div>
    <div id="primary" class="sidebar-no">
        <div class="container group">
            <div class="row">
                <div id="content-page" class="span12 content group">
                    <div class="page type-page status-publish group">
                        @*<script>
                                jQuery(document).ready(function ($) {
                                    $('.sidebar').remove();

                                    if (!$('#primary').hasClass('sidebar-no')) {
                                        $('#primary').removeClass().addClass('sidebar-no');
                                        $('.content').removeClass('span9').addClass('span12');
                                    }
                                });
                            </script>*@


                        <div id="porttfolio" class="portfolio-slider">
                            <h4> मा. मंत्री महोद्य यांचे राज्यमंडळ कार्यालयाच्या भेटीची क्षणचित्रे</h4>
                            <div id="carousel_printdesign" class="es-carousel-wrapper">
                                <div class="es-carousel row">
                                    <ul>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/10.JPG" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" style="height:250px" src="~/Design/Images/11.JPG" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />
                                                @*<div class="overlay">
                                                        <div>
                                                            <p>
                                                                <a href="~/Design/Images/images.jpg" rel="lightbox" class="ch-info-lightbox">
                                                                    <img src="~/Design/Images/newzoom.png" id="myImg" alt="open loghtbox" />
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/12.JPG" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/13.JPG" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           
                            <h4> मंडळाच्या प्रांगणात वृक्षारोपन करताना आधिकारी / कर्मचारी </h4>
                            <div id="carousel_webdesign" class="es-carousel-wrapper">
                                <div class="es-carousel row">
                                    <ul>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/1.jpg" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/2.jpg" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/3.jpg" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/4.JPG" id="myImg" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h4> वक्ते श्री राजव लाखे  यांच्या व्याख्यानाची  क्षणचित्रे.</h4>
                            <div id="carousel_webdesign" class="es-carousel-wrapper">
                                <div class="es-carousel row">
                                    <ul>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/5.JPG" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/6.JPG" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/7.JPG" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                        <li class="span3">

                                            <div class="picture_overlay">
                                                <img width="260" height="172" src="~/Design/Images/8.JPG" class="attachment-thumb_portfolio_4cols" onclick="onClick(this)" />

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>




        </div>

        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            //img.onclick = function () {
            //    modal.style.display = "block";
            //    modalImg.src = this.src;
            //    captionText.innerHTML = this.alt;
            //}

            function onClick(element) {
                document.getElementById("img01").src = element.src;
                document.getElementById("myModal").style.display = "block";
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>

        <style>
            #myImg {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
            }

                #myImg:hover {
                    opacity: 0.7;
                }

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                margin: -100px 0 0 -20px;
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            }

            .modal-body {
                padding: 0px;
            }

            .modal-header {
                margin-left: 7px;
                background-color: white;
            }

            .modal-footer {
                margin-left: 6px;
            }

            .close {
                margin-top: 100px;
                /*margin-right: 500px;*/
                color: white;
            }
            /* Modal Content (image) */
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
            }

            /* Caption of Modal Image */
            #caption {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
                text-align: center;
                color: #ccc;
                padding: 10px 0;
                height: 150px;
            }

            /* Add Animation */
            .modal-content, #caption {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }



            /* The Close Button */
            .close {
                position: absolute;
                top: 35px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }

                .close:hover,
                .close:focus {
                    color: #bbb;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* 100% Image Width on Smaller Screens */

            .modal-content {
                width: 100%;
                margin-top:70px;
            }
        </style>

    </div>
</div>