
@{
    ViewBag.Title = "Postas";
}

@*<link href="~/Design/Postas/postas.css" rel=" stylesheet" />*@
<div id="UpdatePanel1">
    <div class="slogan">
        <h2 style="margin-left:30px;">अंक मिळत नाही.....? मग हे करा......!</h2>
        <br />
    </div>

    <!---start primary-->
    <div id="primary" class="sidebar-right">
        <div class="container group">

            <div class="row">
                <!---START CONTENT-->
                <div id="content-home" class="span9 content group">
                    <div class="page-header type-page status-publish hentry group">
                        
                    </div>

                    <!----start comments-->
                    <div id=" comments"></div>
                    <!----END COMMENTS-->
                </div>
                <!----END CONTENT-->


                <div class="extra-content margin-top group span15">
                    <div class="border-line"></div>
                    <div class="section portfolio">
                        <!---section blog wrapper-->
                        <div class="widget-1 widget-first widget widget-icon-text group">
                            <h4 style="font-size: 18px;">
                                पोस्टास पाठवायच्या पत्राचा  नमुना पाहाण्यासाठी येथे
                                @*<a style="color: #0c243d; font-size: 16px;" href="#">क्लिक करावे.</a>*@
                                <a style="color: red; font-size: 16px;" href="~/Design/CSS/post.pdf" target="_blank">क्लिक करावे.</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>